{{- define "node_bootstrap" -}}
{{- $isLeaf := .IsLeaf -}}

{{- range $pkg := .Installs }}
{{- $path := printf "'/packages/%s/files/node_modules'" $pkg }}
if (fs.existsSync({{ $path }})) {
    if (!require.main.paths.includes({{ $path }})) {
        require.main.paths.unshift({{ $path }});
    }
}
{{- end }}

{{- range $mod := .Imports }}
try {
    require('{{ $mod }}');
} catch (e) {
    console.error('bootstrap.js error:', e);
}
{{- end }}

{{- if $isLeaf }}
startWebServer();
{{- else }}
startForkServer();
{{- end }}
{{- end }}