{{- define "ruby_bootstrap" -}}
{{- $isLeaf := .IsLeaf -}}

require 'fileutils'

{{- range $pkg := .Installs }}
{{- $path := printf "'/packages/%s/files'" $pkg }}
if File.exist?({{ $path }})
  unless $LOAD_PATH.include?({{ $path }})
    $LOAD_PATH.unshift({{ $path }})
  end
end
{{- end }}

{{- range $mod := .Imports }}
begin
  require '{{ $mod }}'
rescue LoadError => e
  puts "bootstrap.rb error: #{e}"
end
{{- end }}

{{- if $isLeaf }}
start_web_server()
{{- else }}
start_fork_server()
{{- end }}
{{- end }}