{{- define "deps" -}}
RUN apt-get -y --fix-missing update
RUN apt-get -y install wget apt-transport-https curl build-essential libseccomp-dev
{{- end -}}

{{- define "python" -}}
RUN apt-get -y install python3 python3-pip
RUN pip3 install --upgrade pip
RUN pip3 install -r /runtime/python/requirements.txt
{{- end -}}

{{- define "node" -}}
RUN curl -sL https://deb.nodesource.com/setup_12.x | bash -
RUN apt-get -y install nodejs
RUN npm install -g npm
RUN npm --prefix /runtime/node install
{{- end -}}

{{- define "ruby" -}}
RUN apt-get -y install ruby-full
RUN gem install bundler
RUN bundle install --gemfile /runtime/ruby/Gemfile
{{- end -}}

{{- define "driver" -}}
{{- $baseImageName := .BaseImageName -}}
{{- if .BaseImageVersion -}}
  {{- $baseImageVersion := .BaseImageVersion -}}
{{- else -}}
  {{- $baseImageVersion := "latest" -}}
{{- end -}}
COPY runtime/{{ $runtime }} /runtime/{{ $runtime }}
COPY runtime/syscalls.json /runtime/{{ $runtime }}/syscalls.json
{{- $runtime := .Runtime -}}
FROM {{ $baseImageName }}:{{ $baseImageVersion }}
{{ template "deps" . }}
{{- if eq $runtime "python" }}
{{ template "python" . }}
{{- else if eq $runtime "node" }}
{{ template "node" . }}
{{- else if eq $runtime "ruby" }}
{{ template "ruby" . }}
{{- else }}
  {{- /* Handle unknown runtime */ -}}
  {{- /* You can add a default template or an error message here */ -}}
  {{- /* Example: */ -}}
  {{- /* RUN echo "Unsupported runtime: $runtime" */ -}}
{{- end -}}
LABEL base_image_name="{{ $baseImageName }}" base_image_version="{{ $baseImageVersion }}" runtime="{{ $runtime }}"
{{- end -}}